<style>
    cart-progress-step,
    cart-progress-bar{
        display: block;
    }
    cart-progress-bar{
        margin: 10px 0px;
    }
    cart-progress-bar > div {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }
    cart-progress-step{
        overflow: hidden;
        background: red;
        position: relative;
        border-radius: 2px;
        height: 2px;
        width: 100%;
        background: #BDBDBD;
    }
    cart-progress-step > div{
        background: blue;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform-origin: left;
        transition: all 200ms ease-in;
        background: black;
    }
</style>
{% assign steps = section.blocks | map: 'settings' | sort: "limit" %}

{%- assign cartTotal = cart.total_price | divided_by: 100 -%}

{% assign firstStep = steps | map: 'limit' | first | floor %}

{% assign lastStep = steps | map: 'limit' | last | floor %}

<cart-progress-bar>
    {% for step in steps %}
    {% assign limit = step.limit %}
    {% assign i = forloop.index  %}
    {% assign pi = i | minus: 2  %}


    {% if i == 1 %}
        {% assign pLimit = 0  %}
    {% else %}
        {% assign pLimit = steps[pi].limit  %}
    {% endif %}

    {% assign percent = cartTotal | times: 100 | divided_by: limit %}

    {% if cartTotal > pLimit and cartTotal < limit  %}

    <div>
        Plus que <b>{{limit | minus: cartTotal}}€ </b> {{step.text}}
    </div>
    <cart-progress-step  data-progress="{{percent}}%">
        <div style="transform: scaleX({{percent}}%);" ></div>
    </cart-progress-step>
    {% endif %}
    {% endfor %}

</cart-progress-bar>

